<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LumiTempMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>
<body>
    <!-- Cabeçalho -->
    <header class="container">
        <!-- Logo -->
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/img/logolumi.png" alt="LumiTemp" class="logo" />
        </a>

        <!-- Menu de Navegação -->
        @if (ViewBag.Logado == true)
        {
            <nav class="menu-opcoes">
                <ul>
                    <li><a asp-area="" asp-controller="EmpresaParceira" asp-action="Index">Empresas Parceiras</a></li>
                    <li><a asp-area="" asp-controller="Funcionario" asp-action="Index">Funcionários</a></li>
                    <li><a asp-area="" asp-controller="Sensor" asp-action="Index">Sensores</a></li>
                    <li><a asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                    <li><a asp-area="" asp-controller="Sobre" asp-action="Index">Sobre</a></li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Funcionario" asp-action="ExibeConsultaAvancada">
                            Consulta Avançada de Funcionarios
                        </a>
                    </li>
                </ul>
            </nav>
            <p class="Login">
                <a asp-area="" asp-controller="Login" asp-action="LogOff">Logoff</a>
            </p>
        }
        else
        {
            <nav class="menu-opcoes">
                <ul>
                    <li><a asp-area="" asp-controller="Funcionario" asp-action="Create">Cadastrar Funcionário</a></li>
                    <li><a asp-area="" asp-controller="Sobre" asp-action="Index">Sobre</a></li>
                </ul>
            </nav>
            <p class="Login">
                <a asp-area="" asp-controller="Login" asp-action="Index">Login</a>
            </p>
        }
    </header>

    <!-- Corpo Principal -->
    <div class="container-principal">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Rodapé -->
    <footer class="border-top footer text-muted text-center py-3">
        <p>&copy; 2024 LumiTemp. Todos os direitos reservados.</p>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
