<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LumiTempMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/estilos.css">
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
</head>
<body>
    <header class="header-user-dropdown">

        <div class="header-limiter">
            <h1>
                <a href="Home"><img src="~/img/logolumi.png" alt="LumiTemp" class="logo" /></a>
            </h1>

            @if (ViewBag.Logado == true)
            {
                <nav>
                    <a asp-area="" asp-controller="EmpresaParceira" asp-action="Index">Empresas Parceiras</a>
                    <a asp-area="" asp-controller="Funcionario" asp-action="Index">Funcionários</a>
                    <a asp-area="" asp-controller="Sensor" asp-action="Index">Sensores</a>
                    <a asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                    <a class="nav-link" asp-area="" asp-controller="Funcionario" asp-action="ExibeConsultaAvancada">Consulta Funcionários<span class="header-new-feature">new</span></a>
                    <a class="nav-link" asp-area="" asp-controller="Sensor" asp-action="ExibeConsultaAvancada">Consulta Sensores<span class="header-new-feature">new</span></a>
                    <a asp-area="" asp-controller="FiwareData" asp-action="Index">Fiware<span class="header-new-feature">new</span></a>
                    <a asp-area="" asp-controller="Sobre" asp-action="Index">Sobre</a>
                </nav>
                <div class="header-user-menu">
                    <img src="~/img/login.png" alt="User Image" />

                    <ul>
                        <li><a asp-area="" asp-controller="Funcionario" asp-action="Edit">Editar</a></li>
                        <li><a asp-area="" asp-controller="Login" asp-action="LogOff">Logoff</a></li>
                    </ul>
                </div>
            }
            else
            {
                <nav>
                    <a asp-area="" asp-controller="Funcionario" asp-action="Create">Cadastrar Funcionário</a>
                    <a asp-area="" asp-controller="Sobre" asp-action="Index">Sobre</a>
                </nav>


                <div class="header-user-menu">
                    <img src="~/img/login.png" alt="User Image" />

                    <ul>
                        <li><a asp-area="" asp-controller="Login" asp-action="">Login</a></li>
                    </ul>
                </div>
            }
        </div>

    </header>

    <section id="main">
        @RenderBody()
    </section>

    <!-- Rodapé -->
    <section class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayYear"></span> Todos os direitos reservados por LumiTemp
            </p>
        </div>
    </section>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
