/* Estilos gerais do corpo */
body {
    background-color: #001f3f; /* Azul marinho de fundo */
    font-family: 'PT Sans', sans-serif; /* Fonte padrão para o corpo */
    color: #003366; /* Cor do texto, um azul mais claro */
    margin: 0; /* Remove margens padrão do navegador */
    padding: 0; /* Remove preenchimento padrão do navegador */
    display: flex; /* Usa flexbox para layout */
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100%; /* Remove a altura fixa e deixa a página crescer conforme necessário */
}

/* Estilo do cabeçalho */
header {
    width: 100%; /* Cabeçalho ocupa toda a largura */
    padding: 0; /* Remove preenchimento interno */
    margin: 0; /* Remove margens externas */
    background-color: #003366; /* Azul mais escuro para o cabeçalho */
    text-align: center; /* Centraliza o texto no cabeçalho */
    position: fixed; /* Mantém o cabeçalho fixo no topo */
    top: 0; /* Posiciona no topo */
    left: 0; /* Alinha à esquerda */
    z-index: 1000; /* Garante que o cabeçalho esteja acima de outros elementos */

}

/* Estilo do menu de navegação */
nav.menu-opcoes {
    width: 100%; /* Preenche toda a largura */
    display: flex; /* Flexbox para alinhar os itens */
    justify-content: space-around; /* Espaçamento igual entre os itens */
    padding: 10px 0; /* Espaçamento vertical do menu */
    color: white;
}

.menu-opcoes ul {
    list-style: none; /* Remove marcadores da lista */
    margin: 0; /* Remove margem */
    padding: 0; /* Remove preenchimento */
    display: flex; /* Alinha os itens horizontalmente */
    color: white;
}

.menu-opcoes li {
    margin: 0 1em; /* Usando unidades relativas para espaçamento */
}

.menu-opcoes a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: white; /* Cor do texto dos links */
    font-size: 1.1rem; /* Usa rem para garantir que o tamanho da fonte seja relativo ao corpo */

}

/* Estilo do conteúdo principal */
main {
    padding-top: 5em; /* Dá espaço para o cabeçalho fixo */
    width: 90%; /* Usa uma largura relativa para ser fluido em diferentes resoluções */
    max-width: 1400px; /* Define um limite máximo de largura */
    margin: 0 auto; /* Centraliza o conteúdo */
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    margin-top: 10px;
    margin-bottom: 1em;
    width: 100%;
    color: white; /* Cor do título principal */
    font-size: 2.5rem; /* Usa uma fonte relativa */
    text-align: center; /* Centraliza o título */
}

h2 {
    color: white; /* Cor do título */
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.8rem; /* Usa uma fonte relativa */
    text-align: center;
}

h3 {
    color: white; /* Cor do título */
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.8rem; /* Usa uma fonte relativa */
}

h3 {
    text-decoration: underline;
    font-size: 1.5rem; /* Fonte menor que o h2 */
}

.texto {
    color: white;
    max-width: 100%; /* Garante que o texto ocupe 100% da largura */
    padding: 0 2em; /* Define um padding para não encostar nas bordas */
}

p {
    text-align: justify;
    padding: 0 1.5em; /* Controla o espaçamento interno dos parágrafos */
    text-indent: 1.5em; /* Indenta a primeira linha */
    line-height: 1.6; /* Aumenta o espaçamento entre as linhas para melhorar a legibilidade */
    font-size: 1rem; /* Usa uma fonte relativa */
}
