@{
    ViewData["Title"] = "Página Inicial";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - LumiTemp</title>
    <link rel="stylesheet" href="~/css/estilos.css">
</head>
<body>
    <!-- Cabeçalho -->
    <header>
        <div class="container">
            <h1>Bem-vindos à <strong>LumiTemp</strong></h1>
            <p>Transformamos a forma como sua empresa monitora e gerencia dados.</p>
        </div>
    </header>

    <!-- Seção de Introdução -->
    <section class="intro">
        <div class="container">
            <p>
                Na <strong>LumiTemp</strong>, somos especializados no aluguel de sensores de alta tecnologia para otimizar o monitoramento em tempo real.
                Oferecemos soluções personalizadas para atender às suas necessidades específicas, com o objetivo de gerar insights valiosos que melhorem a eficiência operacional da sua empresa.
            </p>
            <p>
                Descubra como nossa tecnologia pode revolucionar seu negócio. <a href="https://wa.me/+5511964835563"><strong>Entre em contato</strong></a>  e faça parte da inovação!
            </p>
        </div>
    </section>

        <div class="container">
            @if (ViewBag.Logado == true)
            {
                <div class="button-container">
                <a class="btn btn-primary" asp-area="" asp-controller="EmpresaParceira" asp-action="Index">Empresas Parceiras</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Funcionario" asp-action="Index">Funcionários</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Sensor" asp-action="Index">Sensores</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Sobre" asp-action="Index">Sobre</a>
                </div>
            }
            else
            {
                <div class="button-container">
                <a class ="btn btn-primary" asp-area="" asp-controller="Funcionario" asp-action="Create">Cadastrar Funcionário</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Sobre" asp-action="Index">Sobre</a>
                <a class="btn btn-primary" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                </div>
            }
        </div>

</body>
</html>
