@{
    ViewData["Title"] = "Página Inicial";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial - LumiTemp</title>
    <link rel="stylesheet" href="~/css/estilos.css">
</head>
<body>
    <div class="container-inicial">
        <h1>
            <p style="color: whitesmoke;">
                Bem-vindos à LumiTemp
            </p>
        </h1>

        <p style="color: whitesmoke;">
            Na <strong>LumiTemp</strong>, transformamos a forma como sua empresa monitora e gerencia dados. Especializados no aluguel de sensores de
            alta tecnologia, oferecemos soluções personalizadas para atender às suas necessidades específicas. Nossos sensores
            garantem monitoramento em tempo real, proporcionando insights valiosos que otimizam processos e melhoram a eficiência
            operacional.
        </p>

        <p style="color: whitesmoke;">
            Descubra como nossa tecnologia pode revolucionar seu negócio. Entre em contato e faça parte da inovação!
        </p>

        <div class="container-inicial">

            @if (ViewBag.Logado == true)
            {
                <div class="button-container">

                    <a class="botao" asp-area="" asp-controller="EmpresaParceira" asp-action="Index">Empresas Parceiras</a>
                    <a class="botao" asp-area="" asp-controller="Funcionario" asp-action="Index">Funcionarios</a>
                    <a class="botao" asp-area="" asp-controller="Sensor" asp-action="Index">Sensores</a>
                    <a class="botao" asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                    <a class="botao" asp-area="" asp-controller="Login" asp-action="LogOff">Logoff</a>
                    <a class="botao" asp-area="" asp-controller="Sobre" asp-action="Index">Sobre</a>

                </div>
            }
            else
            {
                <div class="button-container">
                    <a class="botao" asp-area="" asp-controller="Funcionario" asp-action="Create">Cadastrar Funcionario</a>
                    <a class="botao" asp-area="" asp-controller="Sobre" asp-action="Index">Sobre</a>
                    <a class="botao" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                </div>
            }
        </div>

    </div>
</body>
</html>

