@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Define o layout compartilhado da página
}


<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Sobre <span>Nós</span>
                        </h2>
                    </div>
                    <p>
                        A <strong>LUMI<span>TEMP</span></strong> surgiu de uma ideia inovadora entre seis amigos durante o último ano de
                        faculdade de engenharia de computação. Observando que muitos sistemas automotivos
                        ainda dependiam de sensores de qualidade limitada, eles decidiram criar dispositivos
                        de alta precisão para capturar dados de umidade, temperatura e luminosidade, com integração
                        a sistemas inteligentes. Após a formatura, fundaram a LUMITEMP e, com recursos limitados,
                        começaram a desenvolver protótipos que foram testados em veículos convencionais e em condições extremas.
                    </p>

                    <p>
                        A grande virada para a empresa ocorreu quando uma montadora local se interessou por seus
                        sensores, levando à expansão da linha de produtos, como sensores para monitoramento externo
                        e apoio a sistemas de condução autônoma. Incorporando inteligência artificial, os
                        sensores começaram a otimizar sistemas dos veículos. Hoje, a LUMITEMP é reconhecida
                        mundialmente, investindo em soluções para veículos elétricos e autônomos, e continua a
                        inovar no mercado automotivo, mantendo seu espírito de startup e visão de futuro.
                    </p>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="img-box">
                    <img src="/img/fabrica.jpg" alt="Fabrica">
                </div>
            </div>
            <div class="detail-box">
                <div class="heading_container">
                    <h2>
                        Sobre o <span>Projeto</span>
                    </h2>
                </div>
                <p>
                    Desenvolvemos um sistema de monitoramento baseado em IoT para controle térmico de estufas de
                    secagem de motores elétricos. A solução garante eficiência operacional por meio do monitoramento
                    remoto e ajustes dinâmicos em tempo real.
                </p>
                <p>

                    Com a plataforma FIWARE, processamos e armazenamos informações contextuais, permitindo a
                    regulação precisa da temperatura e otimizando o processo de fabricação. Além disso, criamos
                    uma plataforma web em ASP.NET MVC que suporta cadastros e apresenta dados em consultas e
                    dashboards, assegurando a produção de motores elétricos com alta qualidade e uniformidade
                    em todas as unidades da empresa.
                </p>
            </div>
            <div class="detail-box">
                <div class="heading_container">
                    <h2>
                        Desenvolvedores do <span>Projeto</span>
                    </h2>
                </div>
                <br />
                <div class="img-box">
                    <div style="text-align: center;">
                        <img src="/img/Grupo.jpg" alt="Integrantes do grupo" style="width: 600px;">
                        <p style="margin-top: 10px; font-size: 16px; color: #333;">Juntos, transformamos ideias em soluções inovadoras!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<section class="info_section layout_padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 info_col">
                <div class="info_contact">
                    <h4>
                        Endereço
                    </h4>
                    <div class="contact_link_box">
                        <a href="https://maps.app.goo.gl/QXarLBK8cMmmzWJL8">
                            <span>
                                W Loop 289 Acc Rd, Lubbock, TX 79424, Estados Unidos
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                +55 11 964835563
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                lumitempmvc@north.us
                            </span>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-3 info_col">
                <div class="info_detail">
                    <h4>
                        Info
                    </h4>
                    <p>
                        Acreditamos que a verdadeira inovação vem da colaboração, da paixão por tecnologia e do compromisso com a qualidade. Estamos empenhados em criar soluções que transformem indústrias e impactem positivamente o futuro. Junte-se a nós nesta jornada para um amanhã mais conectado, inteligente e sustentável.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 mx-auto info_col">
                <div class="info_link_box">
                    <h4>
                        Links
                    </h4>
                    <div class="info_links">
                        <a class="active" href="Home">
                            <img src="images/nav-bullet.png" alt="">
                            Home
                        </a>
                        <a class="" href="https://wa.me/+5511964835563">
                            <img src="images/nav-bullet.png" alt="">
                            Contato
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>