@* 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela de Sensores</title>
    <!-- Link para o CSS -->
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>
<body>
    <header>
        <!-- Criando o Cabeçalho com barra de opções -->
        <nav class="menu-opcoes">
            <ul>
                <li><a href="Home">Home</a></li>
                <li><a href="EmpresaParceira">Cadastro de Empresas</a></li>
                <li><a href="Funcionario">Cadastro de Funcionários</a></li>
                <li><a href="Dashboard">Dashboard</a></li>
                <li><a href="Sobre">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <div>
        <h1>Sobre a <strong>LumiTEMP</strong></h1>
    </div>


</body>
 *@